
body {
	margin: auto;
	padding: 0;
	background: #000000 url(images/img01.jpg) repeat left top;
	font-family: sans-serif;
	font-size: 13px;
	color: #837669;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
	font-family: serif;
	font-weight: normal;
	color: #D53707;
}

h1 { 
	font-size: 44px;
	border-bottom: 3px solid #D53707;
	margin-bottom: 20px;
	margin-top: 20px;
}

h2 {
	margin-top:25px;
	margin-bottom:15px; 
	font-size: 25px;
}

h3 { }

input, textarea {
	border: 1px solid black;
}

.form {
	margin-top: 20px;
}

.form th{
	text-align: right;
	padding-left: 20px;
	font-style: italic;
}

.form td{
	text-align: justify;
}

.listagem th{
	background-color: #D53707;
	color: black;
}

.listagem td{
	text-align: center;
}

.migalha {
	background:transparent url(images/img03.jpg) repeat scroll left top;
	margin-top:10px;
	margin-bottom:3px;
	padding:2px 0 2px 15px;
	font-size: 13px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
	font-family: sans-serif;
	font-size: 11px;
}

ul, ol { }

blockquote { }

a { color: #D53707; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.text1 {
	padding: 5px 10px 5px 10px;
	background: #FF6600;
	color: #000000;
}

/* Header */

#header-wrapper {
}

#header {
	height: 80px;
	margin: 0 auto;
	padding: 0 20px;
	background: url(images/img02.jpg) repeat;
	border-bottom: 4px solid #910000;
}

/* Menu */

#menu {
	float: left;
	width: 680px;
	height: 40px;
}

#menu ul {
	margin: 0;
	padding: 25px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 17px;
	padding: 5px 12px;
	text-decoration: none;
	font: serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: underline;
	background: #C03511;

 }

#menu .current_page_item a {
	background: #910000;
	color: #FFFFFF;
}

/* Page */

#page {
	margin: 0 auto;
	padding: 0 40px;
}

